@model List<Icon>

<!-- Hero start -->
    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>We would like to share some information about ourselves with you</p>
    </section>
    <!-- Hero End -->
    <section id="about-head" class="section-p1">
        <img src="img/about/a6.jpg" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>We are Ammunation, a company that sells high-quality airsoft guns and accessories.
             We are passionate about airsoft and want to share our enthusiasm with you. 
             Whether you are a beginner or a veteran, we have something for you. We offer a wide range of products, from pistols and rifles to grenades and scopes. We also provide excellent customer service and fast shipping. Our goal is to make your airsoft experience fun, safe, and memorable. Join us today and discover the thrill of airsoft!</p>

                

                
              
        </div>
    </section>

    <section id="about-app" class="section-p1">
        <h1>Download our <a href="#">App</a></h1>
        
    </section>

    
    <!-- Feature start -->
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/features/f1.png" alt="">
            <h6>Free Shipping </h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f2.png" alt="">
            <h6>Online Order </h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f3.png" alt="">
            <h6>Save Money </h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f4.png" alt="">
            <h6>Promotions </h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f5.png" alt="">
            <h6>Happy Sell </h6>
        </div>
        <div class="fe-box">
            <img src="img/features/f6.png" alt="">
            <h6>7/24 Support</h6>
        </div>
    </section>
    <!-- Feature end -->

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For NewsLetters</h4>
            <p>Get latest updates about our shop and special offers.</p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>